//Colores
$primary: #3957ed;
$secundary: #7ec9f5;
$grey: #545563;
$white: #FFFFFF;
$red: rgb(196, 38, 38);

$degradado: linear-gradient(45deg, $primary, $secundary);

//Fuentes
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;

%boton-general{
    width: 90%;
    max-width: 230px;
    padding: 15px;
    font-size: 15px;
    font-family: $nunito;
    margin-right: 20px;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: 10px;
    &:hover {
       background-image: $degradado;
       cursor: pointer;
    }
}