@import "../base/variables";

.hidden {
   display: none;
}

.cont--foro {
   width: 85%;
   margin: 2rem auto;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   font-family: "Nunito", sans-serif;
}

.foro--titulo {
   h1 {
      color: $primary;
   }
}

.foro {
   width: 100%;
   display: grid;
   grid-template-columns: 2.3fr 1fr;
   gap: 2rem;
}

.foro--agregar {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;

   .agregar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 50%;
      height: 3em;
      background-color: $primary;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 10px;
      cursor: pointer;
   }

   .regresar {
      width: 50%;
      height: 3em;
      background-color: red;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 10px;
      cursor: pointer;
   }

   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
   }
}

.ocultar {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   align-items: center;
}

.foro--cards {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.card {
   font-size: 0.9rem;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   width: 90%;
   padding: 1.2rem;
   display: grid;
   grid-template-columns: 80% 20%;
   overflow: hidden;
   cursor: pointer;

   &:hover {
      transform: scale(1.03);
      animation-duration: 1s;
   }

   .card--info {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      span,
      p {
         color: $grey;
      }
   }

   .card--comment {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
   }
}

.cont--tema {
   width: 55%;
   margin: 2rem auto;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   align-items: flex-end;
   font-family: "Nunito", sans-serif;

   .tema {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   .tema--respuestas {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
   }
}

.respuestas--anadir {
   display: flex;
   flex-direction: column;
   //display: none;
   gap: 0.7rem;
}

.respuestas {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.respuesta--card {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   padding: 1em;
   border-bottom: 1px solid #444444;

   span {
      color: $grey;
   }
}

///////// <ElegirTema /> ///////////

.cont-elegir {
   width: 90%;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   font-family: "Montserrat", sans-serif;
}

.categoria {
   width: 70%;
   height: 5rem;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid lightgray;
   font-size: 1.5rem;
   font-weight: 700;
   text-decoration: none;
   color: black;
}
