@import "../base/variables";

.sec-about {
  display: flex;
  .sec-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .sec-text {
      width: 50%;
      display: flex;
      flex-flow: column wrap;
      align-content: flex-start;
      justify-content: center;
      @media screen and (max-width: 800px) {
        width: 100%;
        align-content: center;
      }
      h1 {
        font-size: 20px;
        margin-bottom: 30px;
        padding-left: 150px;
        font-family: "Nunito", sans-serif;
        color: $primary;
        @media screen and (max-width: 800px) {
          text-align: center;
          padding-left: 0px;
        }
      }
      p {
        width: 90%;
        padding-left: 150px;
        color: $grey;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        @media screen and (max-width: 800px) {
          width: 80%;
          padding-left: 0px;
          text-align: center;
        }
      }
    }
    .sec-image {
      width: 50%;
      align-items: center;
      @media screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      img {
        width: 420px;
        margin-left: 100px;
        align-self: center;
        @media screen and (max-width: 800px) {
          width: 320px;
          margin-top: 35px;
          margin-left: 0px;
        }
      }
    }
  }
}
////////// Experiencias ///////////

.cont-exp {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  font-family: "Nunito", sans-serif;

  h1 {
    color: $primary;
  }

  .experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

    .exp {
      border: 1px solid lightgray;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;

      img {
        width: 4rem;
        border-radius: 100%;
        margin-top: -15%;
      }

      p {
        color: $grey;
        font-style: italic;
        font-size: 0.9rem;
      }
    }
  }
}
