@import '../base/variables';

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    .alerta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: $white;
        border: solid 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        border-radius: 10px;
        h6{
            color: $primary;
            font-family: $nunito;
            margin: 15px;
            padding: 10px;
            font-size: 16px;
        }
        button{
            @extend %boton-general;
        }
    }
    .disc-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 600px;
        padding: 20px;
        background-color: $white;
        border: solid 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        border-radius: 10px;
        font-family: $nunito;
        img{
            width: 40px;
            margin: 15px;
        }
        h6{
            color: $primary;
            font-size: 20px;
            margin: 15px 0;
            text-align: center;
            width: 90%;
        }
        p{
            color: $grey;
            margin: 15px 0;
            text-align: center;
            width: 90%;
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px 0;
            width: 100%;
            button{
                width: 95%;
                max-width: 250px;
                border: none;
                padding: 15px;
                margin-bottom: 15px;
                font-family: $nunito;
                border-radius: 8px;
                color: $white;
                font-size: 15px;
                cursor: pointer;
                &:first-child{
                    background-color: $red;
                    &:hover{
                        opacity: 50%;
                    }
                }
                &:nth-child(2){
                    background-color: $primary;
                    &:hover{
                        background-image: $degradado;
                    }
                }
            }
        }
    }    
}