.prin-prof {
  display: flex;
}
.prin-prof .main-prof {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prin-prof .main-prof img {
  width: 100px;
  border-radius: 50%;
}
.prin-prof .main-prof h2 {
  text-align: center;
}
.prin-prof .main-prof p {
  text-align: center;
}

.prin-serv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
.prin-serv h1 {
  color: #3957ed;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Nunito", sans-serif;
}
.prin-serv .categ {
  display: flex;
  justify-content: center;
}
.prin-serv .categ .sec-pro {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid #3957ed;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-serv .categ .sec-pro h2 {
  color: #3957ed;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.prin-serv .categ .sec-pro p {
  color: #545563;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}
.prin-serv .categ .sec-pro > div {
  display: flex;
  flex-direction: column;
}
.prin-serv .categ .sec-pro > div button {
  cursor: pointer;
  border: 1px solid #3957ed;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 15px;
  color: #3957ed;
}
.prin-serv .categ .sec-pro > div button:hover {
  background-color: #3957ed;
  color: white;
  font-weight: bold;
}
.prin-serv .categ .sec-for {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid #3957ed;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-serv .categ .sec-for h2 {
  color: #3957ed;
  text-align: center;
}
.prin-serv .categ .sec-for p {
  color: #545563;
  text-align: center;
  margin-bottom: 50px;
}
.prin-serv .categ .sec-for > div {
  display: flex;
  flex-direction: column;
}
.prin-serv .categ .sec-for > div button {
  cursor: pointer;
  border: 1px solid #3957ed;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  color: #3957ed;
  background-color: transparent;
}
.prin-serv .categ .sec-for > div button:hover {
  background-color: #3957ed;
  color: white;
  font-weight: bold;
}
.prin-serv .categ .sec-chat {
  position: absolute;
  bottom: 0;
  position: fixed;
  right: 50px;
}
.prin-serv .categ .sec-chat button {
  cursor: pointer;
  width: 250px;
  height: 50px;
  background-color: #3957ed;
  border: 1px solid #3957ed;
  border-radius: 5px 5px 0px 0px;
  color: white;
}
.prin-serv .categ .sec-chat button:hover {
  font-weight: bold;
}
.prin-serv .categ .btn-close {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #3957ed;
  color: #fff;
  border: 0;
  border-radius: 0px 0px 3px 3px;
}

.prin-chat {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 2px solid #3957ed;
  border-radius: 5px 5px 5px 0px;
  padding: 30px;
  margin-right: 20px;
}
.prin-chat h2 {
  color: #3957ed;
  text-align: center;
}
.prin-chat > div .text-ent {
  color: #545563;
  text-align: left;
  font-size: 14px;
}
.prin-chat > div .text-sal {
  color: #545563;
  text-align: right;
  font-size: 14px;
}
.prin-chat .ent-chat {
  display: flex;
  align-content: end;
  margin-bottom: 10px;
}
.prin-chat .ent-chat input {
  width: 100%;
  border: 1px solid #3957ed;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #545563;
}

/*# sourceMappingURL=index.css.map */
