/* Error: expected "{".
 *   ,
 * 2 | @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap");
 *   |                                                                                                                                                    ^
 *   '
 *   src\style\scss\components\_login.scss 2:148  @use
 *   src\style\scss\index.scss 5:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 2 \2502  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap");\d\a   \2502                                                                                                                                                     ^\a   \2575 \a   src\\style\\scss\\components\\_login.scss 2:148  @use\a   src\\style\\scss\\index.scss 5:1                root stylesheet';
}
