@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Nunito", sans-serif;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #3957ed;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3rem;
}
.login form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login form Button {
  margin-top: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.login-socialmedia {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 0.5em;
}
.login-socialmedia button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  gap: 0.5em;
  cursor: pointer;
}
.login-socialmedia button img {
  width: 1.2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
}
header > div h1 {
  margin: 0 10px;
  font-size: 25px;
  color: #3957ed;
}
header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header > nav > div {
  margin-left: 40px;
  padding: 10px 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
header > nav > div h4 {
  font-weight: 600;
  color: #545563;
  cursor: pointer;
}
header > nav > div ul.desplegable {
  position: absolute;
  top: 100%;
  padding-top: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
  border-radius: 0 0 5px 5px;
}
header > nav > div ul.desplegable.servicios {
  left: 0;
  width: 270px;
}
header > nav > div ul.desplegable.perfil {
  right: 0;
  width: 130px;
  text-align: right;
}
header > nav > div ul.desplegable li {
  text-decoration: none;
  list-style: none;
  color: #545563;
  cursor: pointer;
  padding: 0 10px 10px 10px;
  width: 100%;
}
header > nav > div ul.desplegable li:hover {
  font-weight: 600;
}
header > nav > div:hover {
  border-top: solid 2px #7ec9f5;
}
header > nav > div:hover h4 {
  color: #7ec9f5;
}
header > nav > div:hover .desplegable {
  display: flex;
}
header > button {
  display: none;
}
header > button img {
  width: 30px;
}
@media screen and (max-width: 800px) {
  header > div {
    margin-right: 50px;
  }
  header > nav {
    display: none;
  }
  header > button {
    display: block;
    background: none;
    border: none;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  header.menu {
    background-color: #3957ed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header.menu > div {
    flex-grow: 0;
  }
  header.menu > div h1 {
    color: #FFFFFF;
  }
  header.menu > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 50px;
  }
  header.menu > nav > div {
    margin: 10px 0;
    padding: 5px 0;
    flex-direction: column;
    align-items: flex-end;
  }
  header.menu > nav > div h4 {
    color: #FFFFFF;
    padding-top: 5px;
    border-top: solid 1px #FFFFFF;
  }
  header.menu > nav > div ul.desplegable, header.menu > nav > div ul.servicios, header.menu > nav > div ul.perfil {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background: none;
    width: auto;
  }
  header.menu > nav > div ul.desplegable li, header.menu > nav > div ul.servicios li, header.menu > nav > div ul.perfil li {
    color: #FFFFFF;
    text-align: right;
    padding: 5px 0;
  }
  header.menu > nav > div:hover {
    border: none;
  }
}

.prin-prof {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
.prin-prof h1 {
  color: #3957ed;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Nunito", sans-serif;
}
.prin-prof .main-prof {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prin-prof .main-prof .main-per {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-prof .main-prof .main-per img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.prin-prof .main-prof .main-per h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
}
.prin-prof .main-prof .main-per p {
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.prin-prof .main-data {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-prof .main-data hr {
  width: 100%;
  border: 1px solid #7ec9f5;
}
.prin-prof .main-data h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  color: #3957ed;
  font-size: 18px;
}
.prin-prof .main-data p {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.prin-prof .main-data img {
  margin-top: 15px;
  border-radius: 5px;
}
.prin-prof .main-data .sec-act {
  display: flex;
  align-items: center;
}
.prin-prof .main-data .sec-act img {
  width: 40px;
  border-radius: 50%;
}
.prin-prof .main-data .sec-act h6 {
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
}

.prin-serv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
.prin-serv h1 {
  color: #3957ed;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Nunito", sans-serif;
}
.prin-serv .categ {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prin-serv .categ .sec-pro {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid #3957ed;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-serv .categ .sec-pro h2 {
  color: #3957ed;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.prin-serv .categ .sec-pro p {
  color: #545563;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.prin-serv .categ .sec-pro > div {
  display: flex;
  flex-direction: column;
}
.prin-serv .categ .sec-pro > div button {
  cursor: pointer;
  border: 1px solid #3957ed;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 15px;
  color: #3957ed;
}
.prin-serv .categ .sec-pro > div button:hover {
  background-color: #3957ed;
  color: white;
  font-weight: bold;
}
.prin-serv .categ .sec-for {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid #3957ed;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}
.prin-serv .categ .sec-for h2 {
  color: #3957ed;
  text-align: center;
}
.prin-serv .categ .sec-for p {
  color: #545563;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.prin-serv .categ .sec-for > div {
  display: flex;
  flex-direction: column;
}
.prin-serv .categ .sec-for > div button {
  cursor: pointer;
  border: 1px solid #3957ed;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  color: #3957ed;
  background-color: transparent;
}
.prin-serv .categ .sec-for > div button:hover {
  background-color: #3957ed;
  color: white;
  font-weight: bold;
}
.prin-serv .categ .sec-chat {
  position: absolute;
  bottom: 0;
  position: fixed;
  right: 50px;
}
.prin-serv .categ .sec-chat button {
  cursor: pointer;
  width: 250px;
  height: 50px;
  background-color: #3957ed;
  border: 1px solid #3957ed;
  border-radius: 5px 5px 0px 0px;
  color: white;
}
.prin-serv .categ .sec-chat button:hover {
  font-weight: bold;
}
.prin-serv .categ .btn-close {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #3957ed;
  color: #fff;
  border: 0;
  border-radius: 0px 0px 3px 3px;
}

.prin-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border-radius: 5px 5px 5px 0px;
  padding: 30px;
  margin-right: 20px;
}
.prin-chat h1 {
  color: #3957ed;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.prin-chat .inter-chat {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: end;
}
.prin-chat .inter-chat .text-ent p {
  color: #545563;
  text-align: left;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.prin-chat .inter-chat .text-ent h5 {
  color: #7ec9f5;
  text-align: left;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.prin-chat .inter-chat .text-sal p {
  color: #545563;
  text-align: right;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.prin-chat .inter-chat .text-sal h5 {
  color: #7ec9f5;
  text-align: right;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.prin-chat .ent-chat {
  display: flex;
  align-content: end;
  margin-bottom: 10px;
}
.prin-chat .ent-chat input {
  width: 100%;
  border: 2px solid #3957ed;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #545563;
}

.btn-chat {
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 20px;
}
.btn-chat button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  background-color: #c42626;
  color: white;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

/*# sourceMappingURL=index.css.map */
